{% if section.settings.product != blank %}
  {% assign product = all_products[section.settings.product] %}
  <section class="text-gray-600 body-font overflow-hidden bg-[#FCF4EE] p-8 xl:p-0">
    <div class="py-24 mx-auto max-w-[1140px] relative">
      {% render 'filip-notification-box', product: product %}

      <div class="mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-16 relative">
          {% render 'filip-product-image-gallery', product: product %}
        </div>

        <div class="lg:w-1/2 w-full lg:pl-16 lg:py-6 mt-6 lg:mt-0">
          <div class="flex mb-1">
            {% render 'filip-reviews-stars', rating: 5, reviews_count: 107 %}
          </div>
          <h1 class="text-primary text-[32px] font-poppins mb-2">{{ product.title }}</h1>
          <p class="text-primary font-poppins mb-7">
            {{ product.description }}
          </p>
          {% render 'filip-whats-inside', section: section %}

          {% render 'filip-color-swatches', product: product %}

          {% render 'filip-size-picker', product: product %}

          <div class="flex flex-wrap lg:flex-nowrap items-center mb-13">
            {% render 'filip-quantity-picker' %}
            {% render 'filip-add-to-cart-button' %}
          </div>
          <div class="flex flex-wrap lg:flex-nowrap gap-4 justify-center">
            <img src="{{ '1-filip.png' | asset_url }}" class="w-1/4 lg:w-1/5" width="auto" height="auto">
            <img src="{{ '2-filip.png' | asset_url }}" class="w-1/4 lg:w-1/5" width="auto" height="auto">
            <img src="{{ '3-filip.png' | asset_url }}" class="w-1/4 lg:w-1/5" width="auto" height="auto">
            <img src="{{ '4-filip.png' | asset_url }}" class="w-1/4 lg:w-1/5" width="auto" height="auto">
            <img src="{{ '5-filip.png' | asset_url }}" class="w-1/4 lg:w-1/5" width="auto" height="auto">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Filip Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "whats_inside_text",
      "label": "What's Inside Text",
      "default": "What's inside?"
    },
    {
      "type": "text",
      "id": "list_item_1_title",
      "label": "List Item 1 Title",
      "default": "1 x Lorem ipsum dolor"
    },
    {
      "type": "text",
      "id": "list_item_1_description",
      "label": "List Item 1 Description",
      "default": "Donec sodales sagittis magna sed consequat, leo eget bibendum sodales"
    },
    {
      "type": "text",
      "id": "list_item_2_title",
      "label": "List Item 2 Title",
      "default": "1 x Lorem ipsum dolor"
    },
    {
      "type": "text",
      "id": "list_item_2_description",
      "label": "List Item 2 Description",
      "default": "Donec sodales sagittis magna sed consequat, leo eget bibendum sodales"
    },
    {
      "type": "text",
      "id": "choose_your_color_text",
      "label": "Choose Your Color Text",
      "default": "Choose your color:"
    }
  ],
  "presets": [{ "name": "Filip Product Section" }]
}
{% endschema %}
